{% extends 'base.html.twig' %}

{% block title %}Hello VueAnimalController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	body{ background-color: #26413c; }
</style>

<div class="example-wrapper">
    <div class="container text-white vh-100 mt-5">
		<h1 class="text-center titreanimaux">{{animals.prenomani}}</h1>
		<div class="row row-cols-1 row-cols-lg-3">
			<div class="col p-3">
				<div class="image-card text-black">
					<img src="/uploads/{{ animals.imageani }}" class="rounded w-100" alt="">
				</div>
                <div>
					<h4 class="titreanimaux ">Nourriture</h4>
                    <p>{{animals.foodani}}</p>
					<h4 class="titreanimaux">Quantité</h4>
                    <p>{{animals.quantiteani}}</p>
					<h4 class="titreanimaux">Etat</h4>
                    <p>{{animals.etatani}}</p>
					<h4 class="titreanimaux">Race</h4>
					<p>{{ animals.raceani | raw}}</p>
			</div>
                </div>
			</div>
		</div>
	</div>
</div>
<div class="container">

<p class="text-white">Cette page a été vue{{ viewCount }}fois.</p>
</div>

{% endblock %}
